.top{
    position: fixed;
    padding-top: 4px;
    padding-left: 20px;
    top: 0px;
    background-color:blanchedalmond;
    height: 30px;
    width: 100%;   
    border-bottom: solid rgb(23, 75, 218);
    font-size: 20px;
}
.image-pos{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border: outset rgb(16, 11, 87);
}
pre{
    text-align: center;   
}

#description{
    font-size: 15px;
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
label{
    font-size: 20px;
}

input{
    border-radius: 9px;
    width: 95px;
    height: 20px;
    padding: 3px;
    font-size: 15px;
}

input[type=submit]:hover {
    background-color: rgb(200, 235, 209);
}
h1{
    font-size: 50px;
    text-align: center;
}
h2{
    font-size: 30px;
    text-align: center;
}
.container{
    margin:  auto;

    background-color: rgb(239, 240, 215);
    height: 30px;
    width: 75%;
    border: solid 5px rgb(131, 161, 243);
}